<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div id="app">
  <div class="search-wrapper">
    <input type="text" v-model="search" placeholder="Search cards by keywords"/>
    <label>Search title:</label>
  </div>
  <div class="card-wrapper">
    <!-- Ensure you are using the right component name as registered in Vue -->
    <card-component
      v-for="post in filteredList"
      :key="post.name"
      :post="post"
      @zoom-in="zoomIn"
    ></card-component>
  </div>
 <div class="overlay" v-if="zoomedPost" @click.self="zoomOut()">
    <div class="zoomedCard">
      <img v-bind:src="zoomedPost.img"/>
      <button class="closeButton" @click="zoomOut()">Close</button>
    </div>
  </div>

    <!-- Include Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Path to your Vue application script -->
    <script src="/assets/js/cards-vue-app.js"></script>
</body>
</html>
