<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards - AI-VIS EthiCards</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/base.css">

</head>

<body class="page">
    <div class="wrapper">
        <!-- Header -->
        <header>
            <h1 class="sc-head">
                <a href="/"> AI-VIS<br>EthiCards<br> </a>
                <span class="page-title">Cards</span>
            </h1>
            <!-- Navigation -->
            <div class="navigation">
                <a class="single-nav" href="/gallery.html">Cards</a>
                <!-- <a class="single-nav" href="/workshop.html">Workshop</a> -->
                <a class="single-nav" href="/guidelines.html">Use Guide</a>
                <a class="single-nav" href="/publication.html">Publications</a>
                <a class="single-nav" href="/people.html">About Us</a>
            </div>
        </header>

        <!-- Vue App Root -->
        <section class="markdown-dest">
<div id="app">
  <div class="search-wrapper">
    <input type="text" v-model="search" placeholder="Search cards by keywords"/>
    <label>Search title:</label>
  </div>
  <div class="card-wrapper">
    <!-- Ensure you are using the right component name as registered in Vue -->
    <card-component
      v-for="post in filteredList"
      :key="post.name"
      :post="post"
      @zoom-in="zoomIn"
    ></card-component>
  </div>
    <div class="note">
    <a href="https://forms.gle/5ZrJsZbpEGVwrVLCA" target="_blank">Access the ready-to-print full card set</a>.
</div>
 <div class="overlay" v-if="zoomedPost" @click.self="zoomOut()">
    <div class="zoomedCard">
      <img v-bind:src="zoomedPost.img"/>
      <button class="closeButton" @click="zoomOut()">Close</button>
    </div>
  </div>
</section>

<!-- Footer -->
        <footer>
            <p><small>CC BY-NC-SA 4.0 &copy; AI-VIS EthiCards</small></p>
        </footer>
    </div>

    <!-- Include Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Path to your Vue application script -->
    <script src="/assets/js/cards-vue-app.js"></script>
</body>
</html>
