---
---

$paper: #f8f5eb;
$coal: #333;
$primary: #f0c40f;
$primary-highlight: rgba($primary, 0.5);

/*
 ================ GLOBAL STYLES
*/

body {
  background-color: $paper;
  background-image: url("../img/noise.png");
  color: $coal;
}

* {
  -webkit-tap-highlight-color: $primary-highlight;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  background-color: $primary-highlight;
}

[none] {
  display: none !important;
}

a,
a:hover,
a:active {
  color: inherit;
  font-weight: inherit;
  transition: all 0.2s;
}

a:hover {
  opacity: 0.7;
}

h1.variable {
  font-size: 55px;
  letter-spacing: -1px;
}

@media print, screen and (max-width: 640px) {
  h1.variable {
    font-size: 35px;
    letter-spacing: -0.5px;
  }
}

.markdown-dest {
  a {
    text-decoration: none;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 80%;
      left: -0.1em;
      right: -0.1em;
      bottom: 0;
      transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
      background-color: $primary-highlight;
    }
    &:hover {
      opacity: 1;
    }
    &:hover:after {
      top: 0%;
    }
  }

  .not-markdown-area {
    a:after {
      all: initial;
    }
  }
}

/*
 ================ GALLERY-POST STYLES
*/

body.gallery {
  background: #222;
  color: white;

  header,
  section,
  footer {
    width: unset;
    float: unset;
    position: unset;
  }

  footer .logos {
    filter: invert(1) grayscale(1);
  }

  .gallery-dest {
    img {
      display: block;
    }
  }

  div.navigation {
    margin-top: 0;
    margin-bottom: 15px;
    display: flex;
    a {
      margin-right: 30px;
    }
  }
}

/*
 ================ GALLERY STYLES
*/

.single-exhib {
  max-width: 500px;
  background: $coal;
  padding: 40px;
  color: white;
  margin-bottom: 30px;
  transition: all 0.2s;
  &:hover {
    background: $primary;
  }
}

.exhib-img {
  margin-bottom: 30px;
  position: relative;
  img {
    width: 100%;
    display: block;
  }
  div {
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../img/noise.png");
  }
}

.exhib-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.exhib-text {
  flex: 1;
  h2,
  p {
    margin-bottom: 5px;
    margin-top: 0;
  }
}

.exhib-links {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  a.exhib-button {
    text-decoration: none;
  }
  .exhib-button {
    display: block;
    width: 60px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid white;
    color: white;
    margin-left: 15px;
    &:hover {
      opacity: 1;
      background: white;
      color: $primary;
    }
    h1 {
      margin: 0;
    }
    i {
      margin-bottom: 7px;
    }
    small {
      color: inherit;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

/*
 ================ PEOPLE STYLES
*/

.people {
  * {
    transition: all 0.2s;
  }
  .single-p {
    text-decoration: none;
  }
}
.single-p {
  display: flex;
  margin-bottom: 30px;

  &:hover {
    opacity: 1;
    .intro {
      transform: translateX(10px);
    }
    .p-img.l {
      background-color: transparent;
    }
  }
  .r,
  .l,
  .intro {
    height: 250px;
    width: 250px;
  }
}

.p-img {
  background-size: cover;
  background-position: center;

  &.l {
    background-color: $primary;
    background-blend-mode: screen;
  }

  &.l.light-photo {
    background-color: lighten(rgba($primary, 1), 15%);
    background-blend-mode: soft-light;
  }

  &.r {
    background-image: none !important;
    // filter: grayscale(1);
    background-color: $coal;
    background-blend-mode: darken;
    position: absolute;
    z-index: -1;
  }
}
.intro {
  padding: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  h1 {
    font-size: 25px;
    width: 150px;
    line-height: 1;
  }
  small {
    display: block;
  }
}

@media print, screen and (max-width: 640px) {
  .single-p {
    flex-direction: column;
  }
}

/*
 ================ SHOWCASE STYLES
*/
body.showcase {
  margin: 0;
  padding: 0;
  background-image: url("../img/noise.png");

  * {
    box-sizing: border-box;
  }

  .sc-huge-title {
    font-size: 68px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 0.8;
    margin-bottom: 18px;
    max-width: 1100px;
  }


  .left-sidebar-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 60px; /* Adjust the padding to your preference */
    justify-content: flex-start;
}

  .logos {
    filter: grayscale(1);

    a {
      margin-right: 20px;
    }

    img {
      height: 40px;
    }
  }

  .text-group p {
    font-size: 33px;
    max-width: 1000px;
    line-height: 1.1;
  }

  .navigation {
    color: #aaa;
    margin-top: 20px;
  }

  .single-nav {
    text-transform: uppercase;
    margin-right: 20px;
    letter-spacing: 1px;

    &:after {
      content: "→";
      display: inline-block;
      margin-left: 3px;
      transition: all 0.2s;
    }

    &:hover:after {
      transform: translateX(4px);
    }
  }


.cbc-inner {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Allow .home-cards to grow as needed */
  overflow: visible;
}

.home-cards {
  background-size: contain; /* This will ensure the whole image is always visible */
  background-position: center; /* Center the image within the container */
  background-repeat: no-repeat;
  width: 100vw; /* 100% of the viewport width */
  min-height: 50vh; /* Set a minimum height for the .home-cards to ensure it doesn't get too small */
  position: absolute; 
  left: 50%; /* Center horizontally */
  top: 50%; /* Center vertically */
  transform: translate(-50%, -50%); /* Center the element */
  overflow: visible; /* Make sure any oversized content is not clipped */
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh; /* Ensure a minimum height of the viewport */
  overflow: visible;
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.cbc-outer {
  position: relative;
  overflow: visible; /* Ensure it allows the child .home-cards to overflow without clipping */
  width: 100%; /* Full width */
  min-height: 100vh; /* Ensure a minimum height of the viewport */
}



@media screen and (max-width: 920px) {
  .home-cards {
    top: 20%; /* This moves the image down from the top edge of its nearest positioned ancestor */
    transform: translate(-50%, -50%); /* Adjusting this will help center the element correctly */
    /* You may also want to adjust the background size if the image is too large */
    background-size: cover; /* or 'contain' depending on your need */
  }

  .left-sidebar-content {
    padding: 40px;
  }

}

/*
 ================ POST STYLES
*/

body.page {
  .sc-head {
    font-size: 56px;
    line-height: 0.7;
    letter-spacing: -2px;
  }

  header {
    padding-bottom: 30px;
  }

  .page-title {
    color: $primary;
  }

  .navigation {
    color: #aaa;
    margin-top: 50px;
  }
  .single-nav {
    text-transform: uppercase;
    display: block;
    letter-spacing: 1px;
    &:after {
      content: "→";
      display: inline-block;
      margin-left: 3px;
      transition: all 0.2s;
    }
    &:hover:after {
      transform: translateX(4px);
    }
  }
  .logos {
    margin-bottom: 10px;
    filter: grayscale(1);
    a {
      margin-left: -5px;
      margin-right: 8px;
    }
    img {
      height: 40px;
    }
  }

  .note {
    background: $primary-highlight;
    padding: 10px 20px;
    user-select: none;
    font-weight: bold;
    margin-bottom: 18px;
    border-radius: 10px;
    opacity: 0.99;
  }
}

/*
 ================ CARDS STYLES
*/

// html, body {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   margin-top: 16px;
//   margin-bottom: 16px;
// }

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-wrapper {
  position: relative;
}

.search-wrapper label {
  position: absolute;
  font-size: 12px;
  color: rgba(0,0,0,.50);
  top: 8px;
  left: 12px;
  z-index: -1;
  transition: .15s all ease-in-out;
  font-family: 'Arial', sans-serif; /* Choose the font-family you prefer */
}

.search-wrapper input {
  padding: 4px 12px;
  color: rgba(0,0,0,.70);
  border: 1px solid rgba(0,0,0,.12);
  transition: .15s all ease-in-out;
  background: white;
  border-radius: 4px;
}

.search-wrapper input:focus {
  outline: none;
  transform: scale(1.05);
}

.search-wrapper input:focus + label {
  font-size: 10px;
  transform: translateY(-24px) translateX(-12px);
}

.search-wrapper input::-webkit-input-placeholder {
  font-size: 12px;
  color: rgba(0,0,0,.50);
  font-weight: 100;
}

.card-wrapper {
  display: flex;
  max-width: 444px;
  flex-wrap: wrap;
  padding-top: 12px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  max-width: 124px;
  margin: 12px;
  border-radius: 10px;
  transition: .15s all ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

.hotpink {
  background: hotpink;
}

.green {
  background: green;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0,0,0,.12);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.zoomedCard {
  position: relative;
  max-width: 30%;
  max-height: 100%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  overflow: hidden;
}

.zoomedCard img {
  width: 100%;
  height: auto;
}

.closeButton {
  position: absolute;
  top: 4.58px;
  right: 4.58px;
  border: none;
  background-color: #fff;
  border-radius: 50%; /* Makes the element a circle */
  width: 50px; /* Width of the button */
  height: 50px; /* Height of the button, should be equal to width */
  line-height: 30px; /* Centers the text vertically */
  text-align: center; /* Centers the text horizontally */
  padding: 0; /* No padding to affect the shape */
  cursor: pointer;
  display: flex; /* Using flexbox to center content */
  justify-content: center; /* Center horizontally in the flex container */
  align-items: center; /* Center vertically in the flex container */
  font-size: 10px; /* Adjust as needed */
  color: grey; /* Grey text color */
}




