---
layout: page
---

<div class="people not-markdown-area">
  
  
  <a unstyled href="https://zezhongwang.com/" class="single-p">
    <div class="single-p-left">
      <div class="p-img l" style="
          background-image: url(https://zezhongwang.com/assets/img/IMG_7682.png);
        "></div>
    </div>
    <div class="single-p-right">
      <div class="p-img r" style="
          background-image: url(https://zezhongwang.com/assets/img/IMG_7682.png);
        "></div>
      <div class="intro">
        <h1>Zezhong Wang</h1>
        <small>Post-Doctoral Fellow</small>
        <small>Simon Fraser University</small>
      </div>
    </div>
  </a>

  <a unstyled href="" class="single-p">
    <div class="single-p-left">
      <div class="p-img l" style="
          background-image: url(assets/img/shanPhoto.JPG);
        "></div>
    </div>
    <div class="single-p-right">
      <div class="p-img r" style="
          background-image: url(assets/img/shanPhoto.JPG);
        "></div>
      <div class="intro">
        <h1>Shan Hao</h1>
        <small>PhD Candidate</small>
        <small>Shanghai University</small>
      </div>
    </div>
  </a>

  <a unstyled href="https://www.cs.sfu.ca/~sheelagh/?_gl=1*1gx6xbc*_ga*ODU5MTUxNjkzLjE2NTk4MDc4ODA.*_ga_R4BCVYL1QF*MTcxMDM5MjY3OC4xODQuMC4xNzEwMzkyNjc4LjYwLjAuMA.." class="single-p">
    <div class="single-p-left">
      <div class="p-img l" style="
          background-image: url(https://www.cs.sfu.ca/~sheelagh/img/sheelagh_profile.jpg);
        "></div>
    </div>
    <div class="single-p-right">
      <div class="p-img r" style="
          background-image: url(https://www.cs.sfu.ca/~sheelagh/img/sheelagh_profile.jpg);
        "></div>
      <div class="intro">
        <h1>Sheelagh Carpendale</h1>
        <small>Professor</small>
        <small>Simon Fraser University</small>
      </div>
    </div>
</div>
</a>
